
/* Variables CSS */
/* Colores */
:root {
    --color-one:#000000;
    --color-two:#ffffff;
    --color-three:#aae817;
    --color-four:#bbbbbb;  
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    color: var(--color-one);

}

/* Selectores generales */
img {
    width: 100%;
    vertical-align: middle;
}

h1, h4 {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--color-one);
}

.btn {
    color:var(--color-one);
    border:none;
    border-radius: 0;
}

.btn-primary {
    background-color: var(--color-three);
}

.btn-primary:hover {
    background-color: var(--color-one);
}

.btn-primary:hover a{
    color: var(--color-two);
}

.btn-secondary {
    background-color: var(--color-two);
    color:var(--color-one)
}

.btn-secondary:hover {
    background-color: var(--color-four);
    color:var(--color-one)
}

.mt-1 {
    margin-top: 1rem !important;
  }


/* Otros selectores */
.navbar, .header_web, #brands,#presentation, #location, #about-us {
    border: #000000 2px solid;
    margin:1rem;
    padding: 1rem;
    background-color: var(--color-two)!important;
}

/* BARRA NAVEGACIÓN */
.navbar {
    padding:0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-size:1.3rem;
    font-weight: 700;
    padding-left: 1.3em;
    color: var(--color-one);
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: var(--color-three);
}

.navbar-expand-lg .navbar-collapse {
    flex-direction: row-reverse;
}

.navbar-toggler, .navbar-collapse-show {
    border:none;
}

/* HEADER WEB */
.header_web {
    position:relative; 
    overflow: hidden; 
    padding: 0;
    
}

#header_title {
    position: absolute;  /* Permite posicionar el contenido sobre el video */
    z-index: 2;          /* Hace que el texto esté por encima del video */
    color: var(--color-two);        /* Color del texto para que destaque sobre el video */
    padding:3rem;
}

#header_title > h1 {
    font-size: calc(1.5rem + 2vw);
}

#header_title > h2 {
    font-size: calc(1.5rem + 1vw);
}

#video_background {
    object-fit: cover;  /* Asegura que el video cubra toda el área sin distorsionarse */
    z-index: 1;         /* Hace que el video esté por detrás del contenido */
}


/* PRESENTATION */

#presentation > h1 {
    color: var(--color-three);
}

.display-1 {
    font-size:calc(1.625rem + 15vw);
    font-weight: 700;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#video_background {
    width: 100%;
    height:auto;
    vertical-align:middle;

}
.presentation_text {
    padding-right: 2rem;
}


/* BRANDS  */
.brand-description {
    padding: 1rem; /* Espacio entre el h2 y el p */

    color: black; 
    display: none;
    text-align: justify;
    /* background-color: var(--color-three); */
    height: 100%;
    width:100%;
    opacity: 1; /* Comienza completamente opaca */

}

.brand-title{
    padding: 1rem;
    padding-bottom: 0;
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#brands{
    padding: 0;

}


.brand{
    background-color: #ffffff; /* Color de fondo inicial */
    transition: background-color 0.5s ease; /* Efecto de transición suave de 0.5 segundos */
}

/* Efecto hover */
.brand:hover{
    background-color: #aae817;

}



.brand-col-r, .brand-col-l {
    border-top: #000000 2px solid;
}
.brand-col-r{
    border-right: #000000 1px solid;
}
.brand-col-l{
    border-left: #000000 1px solid;
}





/* CARDS */
.card{

    border: solid;
    border-radius: 0;
    background-color: #ffffff; /* Color de fondo inicial */
    transition: background-color 0.5s ease; /* Efecto de transición suave de 0.5 segundos */
}

.card>h2 {
    margin: .5rem;
}

.card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: #000000 2px solid;


}

.card:hover{
    background-color: #aae817;

}

.card p {
    display: none; /* Oculto inicialmente */
    opacity: 0;
    transition: opacity 0.5s ease; /* Efecto de desvanecimiento suave */
    margin-top: 15px;
}

/*Flecha para hacer la pagina hacia arriba*/
.ir-arriba{
    display:none;
    background-repeat:no-repeat;
    font-size:1.3rem;
    background-color: var(--color-three);
    cursor:pointer;
    color:var(--color-one);
    position:fixed;
    bottom:18px;
    right:18px;
    z-index:2;
    transition: 0.5s ease; 
}

.ir-arriba:hover {
    background-color: var(--color-one);
}