
/* Variables CSS */
/* Colores */
:root {
    --color-one:#000000;
    --color-two:#ffffff;
    --color-three:#aae817;
    --color-four:#bbbbbb;  
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    color: var(--color-one);
    text-align: justify;


}

/* Selectores generales */
img {
    width: 100%;
    vertical-align: middle;
}

h1, h4 {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--color-one);
}

p {
    margin-bottom: 0;
    font-size: 1.2rem;
}

ul {
    margin-bottom:0;
}

li {
    list-style: none;
}

.btn {
    color:var(--color-one);
    border:none;
    border-radius: 0;
}

.btn-primary {
    background-color: var(--color-three);
}

.btn-primary:hover, .btn-primary:active {
    background-color: var(--color-one) !important;
}

.btn-primary:hover a, .btn-primary:active a{
    color: var(--color-two) !important;
}

.btn-secondary {
    background-color: var(--color-two);
    color:var(--color-one);
    transition: background-color 0.5s ease;
}

.btn-secondary:hover {
    background-color: var(--color-four);
    color:var(--color-one)
}

.btn-terciary {
    background-color: var(--color-three);
    color:var(--color-one);
    transition: background-color 0.5s ease;;
}

.btn-terciary:hover {
    background-color: var(--color-four);
    color:var(--color-one);
}

.mt-1 {
    margin-top: 1rem !important;
}

/* Otros selectores */
.navbar, .header_web, .container_countdown, #brands, #presentation, #location, #about-us, #tickets{
    border: var(--color-one) 2px solid;
    margin:1rem;
    background-color: var(--color-two)!important;
}

#container_location, #formulario {
    padding:1rem;
}

#location, #about-us  {
    padding: 0rem;
}

.fa-solid, .fas {
    font-weight: 900;
    font-size: 30px;
}

/* BARRA NAVEGACIÓN */
.navbar {
    padding:0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-size:1.3rem;
    font-weight: 700;
    color: var(--color-one);
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: var(--color-three);
}

.navbar-expand-lg .navbar-collapse {
    flex-direction: row-reverse;
}

.navbar-toggler, .navbar-collapse-show {
    border:none;
}



/* HEADER WEB */
.header_web {
    position:relative; 
    overflow: hidden; 
    padding: 0;
    transition: 0.4s;  
}

#header_title {
    position: absolute;  /* Permite posicionar el contenido sobre el video */
    z-index: 2;          /* Hace que el texto esté por encima del video */
    color: var(--color-two);        /* Color del texto para que destaque sobre el video */
    padding:3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: normal;
    align-items: flex-start;
}

#header_title > h1 {
    font-size: calc(1.5rem + 2vw);
}

#header_title > h2 {
    font-size: calc(1.5rem + 1vw);
}

#video_background {
    object-fit: cover;  /* Asegura que el video cubra toda el área sin distorsionarse */
    z-index: 1;         /* Hace que el video esté por detrás del contenido */
    width: 100%;
    height:90vh;
    vertical-align:middle;
    object-fit: cover; 
}

/* COUNTDOWN */
.container_countdown {
    color:var(--color-two) !important;
    background-color:var(--color-one) !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}

#countdown ul {
    padding-left: 0;
}

.countdown_options{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#countdown ul li {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}
  
#countdown ul li span {
    display: block;
    font-size: calc(3rem + 1.5vw);
    color:var(--color-two);
    font-weight: 700;
}

#countdown p {
    color: var(--color-two);
    font-size: calc(1rem + 1.5vw);
    font-weight: 700;
}

/* PRESENTATION */

#presentation > h1 {
    color: var(--color-three);
}

.display-1 {
    font-size:calc(1.625rem + 15vw);
    font-weight: 700;
}

#container_presentation {
    display: flex;
    flex-direction: row;
}

.presentation_text, .presentation_video {
    width: 50%;
}

#video_background_presentation {
    width: 100%;
    height: auto;
    vertical-align:middle;
    object-fit: cover;
}

.presentation_text {
    padding-right: 2rem;
}

/* MARQUEES */
.marquee {
    background-color: var(--color-three);
    --gap: 1rem;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
}
  
.marquee__content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: var(--gap);
    min-width: 100%;
    opacity: 100%;
}

.marquee__content > li > h1 {
    margin:0;
}

.m_border_bottom {
    border-bottom: 2px solid var(--color-one);
}

@keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
}
  
/* Enable animation */
.enable-animation .marquee__content {
    animation: scroll 14s linear infinite;
}



/* BRANDS  */
.brand-description {
    padding: 1rem; 
    color: var(--color-one); 
    display: none;
    height: 100%;
    width:100%;
    opacity: 1; 
}

.brand-title {
    padding: 1rem;
    padding-bottom: 0;
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#brands{
    padding: 0;
}

.brand {
    background-color: var(--color-two); 
    transition: background-color 0.5s ease;
}

#brands h2 {
    font-size: calc(1rem + 1vw);
}

.brand:hover{
    background-color: var(--color-three);
}

/* UBICACIÓN */

.location-col-r, .location-col-l {
    width: 50%;
}

iframe {
    border: 0;
    width: 100%;
    height: 30rem;
}

#text-location {
    padding: 0 0 0 1rem;
}

/* CARDS */
/* .card{

    border: solid;
    border-radius: 0;
    background-color: var(--color-two); 
    transition: background-color 0.5s ease;
}

.card > h2 {
    margin: .5rem;
}

.card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: var(--color-one) 2px solid;
}

.card:hover{
    background-color: var(--color-three);
}

.card p {
    display: none; 
    opacity: 0;
    transition: opacity 0.5s ease; 
    margin-top: 15px;
} */



/* SLIDESSHOW */



/*FLECHA HACIA ARRIBA*/
.ir-arriba{
    display:none;
    background-repeat:no-repeat;
    font-size:1.3rem;
    background-color: var(--color-three);
    cursor:pointer;
    color:var(--color-one);
    position:fixed;
    bottom:18px;
    right:18px;
    z-index:2;
    transition: 0.5s ease; 
}

.ir-arriba:hover {
    background-color: var(--color-one);
}


/* FORMULARIO TICKETS */



/* FOOTER */
footer {
    background-color: var(--color-one)!important;
    padding: 2rem;
}

.widget-title, .link-secondary, .mb-4, .copyright{
    color:var(--color-two)!important;
}

.fa-brands {
    color:var(--color-two);
    transition: color 0.3s ease, color 0.3s ease;
}
.fa-brands:hover {
    color:var(--color-three);
}

#logo_white {
    padding-bottom:1rem;
}

.form-control {
    border-radius: 0;

}

/* MEDIA QUERIES */ 
@media screen and (max-width: 1390px){
    p{
        font-size: 1rem;
    }

    #brands > p {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 1100px){
    p{
        font-size: 0.8rem;
    }

    #brands > h2 {
        font-size: 0.8rem;
    }
    .fa-solid, .fas {
        font-weight: 900;
    }
}


@media screen and (max-width: 900px) {

    /* NAV */
    .navbar-toggler {
        padding:0;
    }

    /* PRESENTATION */

    .display-1 {
        font-size: calc(1.625rem + 11vw);
    }
    
    #container_presentation {
        display: flex;
        flex-direction: column;
    }

    .presentation_text, .presentation_video {
        width: 100%;
    }

    .presentation_text {
        padding-right: 0;
        padding-bottom: 1rem;
    }

    /* BRANDS */
    .brand-col-r, .brand-col-l {
        width: 100%;
    }

    .reverse {
        flex-direction: row-reverse;
    }

    /* LOCATION */

    .location-col-r, .location-col-l {
        width: 100%;
    }

    #text-location {
        padding:1rem 0 0 0;
    }

    /* FOOTER */

    #logo_white {
        width: 40%;
    }

}

/* SEPARADOR */
.separador > h1{
    max-width: 100%;
    margin: 1rem;
    border: var(--color-one) 2px solid;
    font-size:calc(1.1rem + 11vw);
    font-weight: 700;
    text-align:center;
    color: var(--color-two);
    background-color: var(--color-one);
    


}

@media screen and (max-width: 600px) {

/* PRESENTATION*/
    .display-1 {
    font-size: calc(1.625rem + 7vw);
    }

/* BRANDS */

.row-cols-2>* {
    flex: 0 0 auto;
    width: 100%;
}

.upside{
    flex-direction: column-reverse;
}  

.fa-solid, .fas {
    font-weight: 900;
    font-size: 20px;
}


}