
/* Variables CSS */
/* Colores */
:root {
    --color-one:#000000;
    --color-two:#ffffff;
    --color-three:#aae817;
    --color-four:#bbbbbb;  
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    color: var(--color-one);

}

/* Selectores generales */
img {
    width: 100%;
    vertical-align: middle;
}

h1, h4 {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--color-one);
}

p {
    margin-bottom: 0;
}

ul {
    margin-bottom:0;
}

.btn {
    color:var(--color-one);
    border:none;
    border-radius: 0;
}

.btn-primary {
    background-color: var(--color-three);
}

.btn-primary:hover, .btn-primary:active {
    background-color: var(--color-one) !important;
}

.btn-primary:hover a, .btn-primary:active a{
    color: var(--color-two) !important;
}

.btn-secondary {
    background-color: var(--color-two);
    color:var(--color-one)
}

.btn-secondary:hover {
    background-color: var(--color-four);
    color:var(--color-one)
}

.mt-1 {
    margin-top: 1rem !important;
}


/* Otros selectores */
.navbar, .header_web, .container_countdown, #brands,#presentation, #location, #about-us {
    border: #000000 2px solid;
    margin:1rem;
    padding: 1rem;
    background-color: var(--color-two)!important;
}

/* BARRA NAVEGACIÓN */
.navbar {
    padding:0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-size:1.3rem;
    font-weight: 700;
    color: var(--color-one);
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: var(--color-three);
}

.navbar-expand-lg .navbar-collapse {
    flex-direction: row-reverse;
}

.navbar-toggler, .navbar-collapse-show {
    border:none;
}

/* HEADER WEB */
.header_web {
    position:relative; 
    overflow: hidden; 
    padding: 0;
    
}

#header_title {
    position: absolute;  /* Permite posicionar el contenido sobre el video */
    z-index: 2;          /* Hace que el texto esté por encima del video */
    color: var(--color-two);        /* Color del texto para que destaque sobre el video */
    padding:3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: normal;
    align-items: flex-start;

}

#header_title > h1 {
    font-size: calc(1.5rem + 2vw);
}

#header_title > h2 {
    font-size: calc(1.5rem + 1vw);
}

#video_background {
    object-fit: cover;  /* Asegura que el video cubra toda el área sin distorsionarse */
    z-index: 1;         /* Hace que el video esté por detrás del contenido */
    width: 100%;
    height:90vh;
    vertical-align:middle;
    object-fit: cover; 
}

/* COUNTDOWN */
.container_countdown {
    color:var(--color-two) !important;
    background-color:var(--color-one) !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}

#countdown ul {
    padding-left: 0;
}
#countdown ul li {
    padding: 0 1rem;
}

li {
    display: inline-block;
    list-style-type: none;
}
  
li span {
    display: block;
    font-size: calc(3rem + 1.5vw);
    color:var(--color-two);
    font-weight: 700;
}

#countdown p {
    color: var(--color-two);
    font-size: calc(1rem + 1.5vw);
    font-weight: 700;
}

/* PRESENTATION */

#presentation > h1 {
    color: var(--color-three);
}

.display-1 {
    font-size:calc(1.625rem + 15vw);
    font-weight: 700;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
#container_presentation {
    display: flex;
    flex-direction: row;
}

.presentation_text, .presentation_video {
    width: 50%;
}

#video_background_presentation {
    width: 100%;
    height: auto;
    vertical-align:middle;
    object-fit: cover; 

}

.presentation_text {
    padding-right: 2rem;
}


/* BRANDS  */
.brand-description {
    padding: 1rem; /* Espacio entre el h2 y el p */
    color: var(--color-one); 
    display: none;
    text-align: justify;
    /* background-color: var(--color-three); */
    height: 100%;
    width:100%;
    opacity: 1; /* Comienza completamente opaca */

}

.brand-title {
    padding: 1rem;
    padding-bottom: 0;
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#brands{
    padding: 0;
}

.brand {
    background-color: var(--color-two); /* Color de fondo inicial */
    transition: background-color 0.5s ease; /* Efecto de transición suave de 0.5 segundos */
}

#brands h2 {
    font-size: calc(1rem + 1vw);
}

/* Efecto hover */
.brand:hover{
    background-color: var(--color-three);

}

.brand-col-r, .brand-col-l {
    border-top: var(--color-one) 2px solid;
}
.brand-col-r{
    border-right: var(--color-one) 1px solid;
}
.brand-col-l{
    border-left: var(--color-one) 1px solid;
}

/* CARDS */
.card{

    border: solid;
    border-radius: 0;
    background-color: var(--color-two); /* Color de fondo inicial */
    transition: background-color 0.5s ease; /* Efecto de transición suave de 0.5 segundos */
}

.card>h2 {
    margin: .5rem;
}

.card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: var(--color-one) 2px solid;
}

.card:hover{
    background-color: #aae817;
}

.card p {
    display: none; /* Oculto inicialmente */
    opacity: 0;
    transition: opacity 0.5s ease; /* Efecto de desvanecimiento suave */
    margin-top: 15px;
}

/*Flecha para hacer la página hacia arriba*/
.ir-arriba{
    display:none;
    background-repeat:no-repeat;
    font-size:1.3rem;
    background-color: var(--color-three);
    cursor:pointer;
    color:var(--color-one);
    position:fixed;
    bottom:18px;
    right:18px;
    z-index:2;
    transition: 0.5s ease; 
}

.ir-arriba:hover {
    background-color: var(--color-one);
}

/* MEDIA QUERIES */ 
@media screen and (max-width: 900px) {

    /* NAV */
    .navbar-toggler {
        padding:0;
    }

    /* PRESENTATION */

    .display-1 {
        font-size: calc(1.625rem + 11vw);
    }
    
    #container_presentation {
        display: flex;
        flex-direction: column;
    }

    .presentation_text, .presentation_video {
        width: 100%;
    }

    .presentation_text {
        padding-right: 0;
        padding-bottom: 1rem;
    }

    /* BRANDS */
    .row-cols-2>* {
        flex: 0 0 auto;
        width: 100%;
}
}

@media screen and (max-width: 600px) {

/* PRESENTATION*/

    .display-1 {
    font-size: calc(1.625rem + 7vw);
    }

/* BRANDS */

    .brand-title {
        justify-content: center;
        align-items: center;
    }

    .fa-chevron-down {
        padding: 1rem;
    }
}