
/* Variables CSS */
/* Colores */
:root {
    --color-one:#000000;
    --color-two:#ffffff;
    --color-three:#aae817;
    --color-four:#bbbbbb;  
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    color: var(--color-one);
}

/* Selectores generales */
img {
    width: 100%;
    vertical-align: middle;
}

h1, h4 {
    font-weight: 700;
}


/* Otros selectores */
.navbar, .header_web, #brands,#presentation, #location, #about-us {
    border: #000000 2px solid;
    margin:1rem;
    padding: 1rem;
    background-color: var(--color-two)!important;
}

.navbar {
    padding:0;
}

.navbar-expand {
    flex-wrap: nowrap;
    justify-content: space-between;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-size:1.3rem;
    font-weight: 700;
    padding-left: 1.3em;
    color: var(--color-one);
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: var(--color-three);
}

.navbar-expand-lg .navbar-collapse {
    flex-direction: row-reverse;
}

.navbar-toggler, .navbar-collapse-show {
    border:none;
}


/* PRESENTATION */


/* BRANDS  */
.brand-description {
    padding: 1rem; /* Espacio entre el h2 y el p */

    color: black; 
    display: none;
    text-align: justify;
    background-color: var(--color-three);
    height: 100%;
    width:100%
}

.brand-title{
    padding-left: 1rem;
}

#brands{
    padding: 0;

}





/* CARDS */

